<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
  <div class="ui-body ui-body-e">
      <h3>/!\ Erreur - merci de compléter les champs</h3>
  </div>
  <br/>
  <% end %>

<label for="event_name" class="ui-hidden-accessible">Evénement</label>
<input type="text" id="event_name" name="event[name]" value="<%= @event.name %>" placeholder="Evénement"/>
<br/>
<fieldset data-role="controlgroup" data-type="horizontal">
  <div class="field">
   
   
   
   
   
   
   
   <%= f.date_select :date %>
  </div>
</fieldset>
<% end %>
