<div data-role="header" data-position="inline">
	<a href="/" data-icon="home">Accueil</a>
	<h1>Mise à jour</h1>
</div>

  	<div data-role="content">	

		<%= render 'form' %>
		
		<a href="/events/<%= @event.id %>" data-role="button" data-icon="Check" data-inline="true" data-theme="b">Modifier</a>
		<a href="/events/<%= @event.id %>" data-role="button" data-icon="Delete" data-inline="true" data-theme="e" data-method="delete" rel="nofollow">Supprimer</a>

	</div><!-- /content -->

<script>
	$('#other').click(function() {
	  $('#form').submit();
	});
</script>