<div data-role="header" data-position="inline">
	<a href="/" data-icon="delete">Annuler</a>
	<h1>Nouvel événement</h1>
	<a href="index.html" data-icon="check">Valider</a>
</div>

  	<div data-role="content">	

		<%= render 'form' %>

	</div><!-- /content -->

<script>
	$('#other').click(function() {
	  $('#form').submit();
	});
</script>