<div data-role="header" data-position="inline">
	<a href="/" data-icon="home">Accueil</a>
	<h1>Mise à jour</h1>
</div>

  	<div data-role="content">	
	<h1>Modifier un événement</h1>
	<br/>
		<%= render 'form' %>
	<br/>
		<a href="#" data-role="button" data-icon="check" data-inline="true" data-theme="b" id="submit">Modifier</a>
		<a href="/events/<%= @event.id %>" data-role="button" data-icon="Delete" data-inline="true" data-theme="e" data-method="delete" rel="nofollow">Supprimer</a>

	</div><!-- /content -->

<script>
	$('#submit').click(function(event) {
		event.preventDefault();
	  	$('.edit_event').submit();
	});
</script>