  <div data-role="header">
    <h1>Dans combien de jours ?</h1>
  </div><!-- /header -->
  
  <div data-role="content">	
  
    <br/>
  
    <ul data-role="listview">
        <% @events.each do |event| %>
            <li><a href="/events/<%= event.id%>/edit"><%= event.name %> <span class="ui-li-count"><%= day_to_now(event.date) %></span></a></li>
        <% end %>
    </ul>
    
    
    <br />
    
        <a href="/events/new" data-role="button" data-icon="plus">Nouveau</a>

  </div><!-- /content -->
