<div data-role="header" data-position="inline">
	<a href="/" data-icon="delete">Annuler</a>
	<h1>Nouvel événement</h1>
	<a href="index.html" data-icon="check" id="validate">Valider</a>
</div>

 	<div data-role="content">	

		<%= render 'form' %>

	</div><!-- /content -->

<script>
	$('#validate').click(function() {
	  $('#new_event').submit();
	});
</script>