<div data-role="header" data-position="inline">
	<a href="/" data-icon="home">Accueil</a>
	<h1>Nouveau</h1>
</div>

 	<div data-role="content">	
	<h1>Créer un nouvel événement</h1>
  	<br/>
		<%= render 'form' %>
	<br/>
	<a href="#" data-role="button" data-icon="check" data-theme="b" id="submit">Créer</a>


	</div><!-- /content -->
	
<script>
	$('#submit').click(function(event) {
	  event.preventDefault();
	  $('#new_event').submit();
	});
</script>