<!DOCTYPE html> 
<html> 
  <head> 
  <title>Dans combien de jours ?</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head> 
<body> 

<div data-role="page">


    <%= yield %>	


 <div data-role="footer">
   <h1>Fièrement forgé par Zeneffy Labs - © J.Raigneau 2012</h1>
 </div><!-- /header -->


</div><!-- /page -->

</body>
</html>